<!DOCTYPE html>
<html>
  <head>
    <title><%= content.title %></title>
  </head>
  <body>
    <h1><%= content.title %></h1>
    <p><%= content.description %></p>
    <% if (content.image) { %>
    <img src="<%= content.image %>" alt="Home Image" width="300" />
    <% } %>
  </body>
</html>
