<%- include('./partials/header') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="text-danger mb-4">Oops! Something went wrong</h2>
      <p class="lead"><%= message %></p>
      <a href="/activity" class="btn btn-primary mt-3">Back to Activities</a>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
